.fetch-button {
  margin: 4px 4px 4px 0px;
  flex-direction: row;
  padding: 4px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingAnimation {
  text-align: center;
  margin-top: 25px;
}
