.logo {
  display: block;
  margin: 2em auto;
  max-height: 250px;
  max-width: 100%;
}

.navbar-expand {
  flex-wrap: nowrap;
  place-content: center !important;
}

.prompt-text {
  font-size: 2rem;
  color: purple;
  /* background-color: #cccccc; */
  /* padding: 1em; */
  margin-bottom: 1em;
  width: 100%;
}

span.promptText {
  padding-left: 0.5em;
}

/* 
form {
  margin-top: 3em;
} */

.loginFormContainer,
.signUpFormContainer {
  margin: 1em auto;
  text-align: center;
}

input {
  width: 100% !important;
}

input.form-input {
  margin-top: 1em;
}

.btn-info,
.fetch-button {
  margin-top: 1em;
  background-color: darkslategray !important;
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 1rem !important;
}

.saveButtonContainer {
  display: block !important;
}

button.saveTopic {
  margin-top: 2em;
}

  /* SavedTopics Styles */

.savedTopicsSection {
  width: 100%;
}

.savedTopicsHeader {
  width: 100%;
  display: block;
  background-color: rebeccapurple;
  margin: 1em auto;
  color: #ffffff;
  font-size: 2rem;
  padding: 1em;
  border-radius: 20px;
}

.savedTopicBlock {
  display: inline-block;
  border: 2px solid steelblue;
  max-width: 300px;
  max-height: 500px;
  overflow: hidden;
  margin: 5px;
  text-align: center;
  background-color: darkslateblue;
}

.savedTopicBlock:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px powderblue;
}

h4 button {
  margin: 0.5em 0 0 1em;
}

.savedTopicsContainer {
  width: 100%;
  display: flex;
  text-align: center;
}

.savedTopicsContainer h4 {
  margin: 1em;
  background-color: darkslateblue;
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.5em;
}

.savedResponseContainer {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  display: inline-grid;
  margin: 0.5em;
  padding: 0.5em;
  max-height: 150px;
  overflow: hidden;
}

.savedResponseText {
  max-width: 100px;
  color: #ffffff;
}

.savedResponseImage {
  max-width: 100px;
  height: auto;
}

a.savedTopicBlock {
  text-decoration: none;
}

.responseButton {
  min-width: 25% !important;
  display: inline-table !important;
  width: 100px;
  height: 100px;
  /* background-color: red; */
  animation-name: example;
  animation-duration: 2s;
  opacity: 100%;
  margin-top: 2em !important;
}

@keyframes example {
  /* from {opacity: 30%;}
  to {opacity: 50%;} */
  0%   {opacity: 0%;}
  25%  {opacity: 25%;}
  50%  {opacity: 50%;}
  100% {opacity: 100%;}
}

a.savedTopicBlock {
  text-decoration: none;
  border-radius: 15px;
}

h1.savedTopicsHeader {
  text-align: center !important;
}

.prompt-text-container span {
  display: block;
  margin-top: 1em;
  background-color: #ffffff;
}

#footer {
  margin: 2em auto;
  max-width: 100%;
}

@media (min-width: 0px) and (max-width: 576px) {
  body {
    margin: 0 auto !important;
    align-items: center !important;
    display: block !important;
    padding: 1em 1em;
  }

  nav {
    padding: 0.5em 2em !important;
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;
    max-width: 400px;
  }

  h1 {
    font-size: 2em !important;
    padding: 0em 1em !important;
  }

  Form {
    /* padding: 0.5em 2em !important; */
    width: 100% !important;
  }

  .btn-info,
  .fetch-button {
    margin-top: 1em;
    background-color: darkslategray !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 1rem !important;
  }

  form button.saveTopicBtn {
    background-color: purple !important;
  }

  p.footer {
    padding: 1em 2em 1em 2em !important;
    font-size: 80%;
    width: 100% !important;
  }

  .accordion-collapse.collapse.show {
    display: block;
  }

  .accordion-collapse.collapse {
    display: none;
  }

  .accordion-item {
    display: flex;
  }

  .accordion-body img {
    max-width: 100%;
  }

  .loginFormContainer,
  .signUpFormContainer {
    margin: 1em auto;
    text-align: center;
  }

  input.form-input {
    margin-top: 1em;
  }

  .saveButtonContainer {
    display: block !important;
}

button.saveTopic {
    margin-top: 2em;
}

  /* SavedTopics Styles */

  .savedTopicsSection {
    width: 100%;
  }
  
  .savedTopicsHeader {
    width: 100%;
    display: block;
    background-color: rebeccapurple;
    margin: 1em auto;
    color: #ffffff;
    font-size: 2rem;
    padding: 1em;
    border-radius: 20px;
}
  
  .savedTopicBlock {
    display: inline-block;
    border: 2px solid steelblue;
    max-width: 300px;
    max-height: 500px;
    overflow: hidden;
    margin: 5px;
    text-align: center;
    background-color: darkslateblue;
  }
  
  h4 button {
    margin: 0.5em 0 0 1em;
  }

  .savedTopicsContainer {
    width: 100%;
    display: flex;
    text-align: center;
  }
  
  .savedTopicsContainer h4 {
    margin: 1em;
    background-color: darkslateblue;
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 0.5em;
  }

  .savedTopicBlock:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px powderblue;
  }
  
  .savedResponseContainer {
    border: 2px solid #ffffff;
    box-sizing: border-box;
    display: inline-grid;
    margin: 0.5em;
    padding: 0.5em;
    max-height: 150px;
    overflow: hidden;
  }
  
  .savedResponseText {
    max-width: 100px;
    color: #ffffff;
  }
  
  .savedResponseImage {
    max-width: 100px;
    height: auto;
  }

  a.savedTopicBlock {
    text-decoration: none;
}

.saveTopicBtn, .addCustomResponseButton {
  width: 100%;
}

.prompt-text {
  text-align: center;
}

.responseButton {
  min-width: 25% !important;
  display: inline-table !important;
}

}
