
.logo {
    display: block;
    margin-bottom: 1em;
    max-height: 250px;
    max-width: 100%;
  }

#footer {
    margin: 2em auto;
    max-width: 100%;
}

@media (min-width: 0px, max-width:576px) {
  body {
    margin: 0 auto !important;
    align-items: center !important;
    display: block !important;
    padding: 1em 1em;
  }

  nav {
    padding: 0.5em 2em !important;
    width: 100% !important;
  }

  input {
    padding: 1em !important;
    width: 80% !important;
    margin: 1em 2em;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;
    max-width: 400px;
  }

  h1 {
    font-size: 2em !important;
    padding: 0em 1em !important;
  }

  Form {
    padding: 0.5em 2em !important;
    width: 100% !important;
  }

  Button {
    width: 80% !important;
    margin: 0.5em;
    background-color: darkslategray !important;
    color: #ffffff;
    width: 100% !important;
    display: block !important;
  }

  .fetch-button {
    background-color: powderblue !important;
    margin: 1em 2em;
  }

  form button.saveTopicBtn {
    background-color: purple !important;
  }

  p.footer {
    padding: 1em 2em 1em 2em !important;
    font-size: 80%;
    width: 100% !important;
  }

  .accordion-collapse.collapse.show {
    display: block;
  }

  .accordion-collapse.collapse {
    display: none;
  }

  .accordion-item {
    display: flex;
  }

  .accordion-body img {
    max-width: 100%;
  }

  .prompt-text {
    margin-top: 1em;
  }
}
