.prompt-text {
    text-align: center;
    border: solid;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.prompt-text-container {
    display:flex;
    text-align: center;
    justify-content: center;
}