.modalContainer {
  display: flex;
  text-align: center;
}
.customResponseInput {
  background-color: blue;
  font-size: 100px;
}

.addCustomResponseButton {
  background: linear-gradient(to bottom right, rebeccapurple, purple);
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
}

.possibleImageContainer {
  background-color: lavender;
  display: inline-block;
  width: 20rem;
}

.possibleImage {
  margin: 5px;
  border: 3px solid black;
  animation-name: animate-pop;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.possibleImage:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px powderblue;
}
.closeButton {
  background: linear-gradient(to bottom, rebeccapurple, purple);
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
}

.imageOverlay {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: purple;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.possibleImageContainer:hover .imageOverlay {
  opacity: 1;
  cursor: pointer;
}
