// .savedTopicsSection {
//   display: block;
//   justify-content: center;
//   text-align: center;
//   width: 100%;
// }

// .savedTopicsHeader {
//   border-bottom: 5px solid black;
//   width: 30rem;
//   display: flex;
//   margin: 0 auto;
// }
.savedTopicsContainer {
  width: 100%;
  display: flex;
  text-align: center;
}

// .savedTopicBlock {
//   display: inline-block;
//   border: 5px solid black;
//   width: 25rem;
//   height: 300px;
//   overflow: hidden;
//   margin: 5px;
//   text-align: center;
//   background-color: azure;
// }

// .savedTopicPromptText {
//   overflow: hidden;
//   border-bottom: 4px solid black;
//   padding: 3px;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   color: black;
// }

// .savedResponseContainer {
//   border: 3px solid black;
//   box-sizing: border-box;
//   display: inline-block;
//   justify-content: center;
//   margin: 5px;
//   height: 100px;
//   overflow: hidden;
// }

// .savedResponseText {
//   width: 100px;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   color: black;
// }

// .savedResponseImage {
//   object-fit: cover;
//   width: 100px;
//   height: 100px;
// }

.savedTopicBlock:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px powderblue;
}
